{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
        <div class="row">
            <div class="col-8">
                <h1>{{ story.user.username }}'s Story!</h1>
                        <div class="alert alert-info" role="alert">
                            <div class="container">
                                <div class ="row">
                                    <div class = "col-1">
                                        {% if story.user.profile.profile_image %}
                                        <img src="{{ story.user.profile.profile_image.url}}"
                                             class ="" height=50 width=50>
                                        {% else %}
                                        <img src="{% static 'images/no_profile_pic.jpg' %}"
                                             class="" height=50 width=50 alt="Profile Image">
                                        {% endif %}
                                    </div>
                                        <div class = "col-10">
                            <div class = "col-12">
                                {{ story.body }}
                                <small class="text-muted"></br>
                                    {{ story.created_at }} by @{{ story.user.username }} -
                                    {{ story.number_of_likes }} Likes
                                    {% if user.is_authenticated %}
                                        - {% if user in story.likes.all %}
                                        <a href="{% url 'story_like' story.id %} ">
                                            <i class="fa-solid fa-heart" style="color:red"></i>
                                        </a>
                                        {% else %}
                                        <a href="{% url 'story_like' story.id %} ">
                                            <i class="fa fa-heart-o" style="color:red"></i>
                                        </a>
                                        {% endif %}
                                    {% endif %}
                                </small>
                            </div>
                                        </div>
                                </div>
                        </div>
                    </div>
            </div>
<div class="col-4">

</div>
{% endblock %}